[user]
	email = holmes10031208@gmail.com
	name = Bido Nakamura


# delta settings?
[core]
	pager = delta
	editor = vim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	line-numbers = true
	side-by-side = true
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	navigate = true
[merge]
	conflictstyle= diff3
[diff]
	colorMoved = default
[credential]
	helper = /usr/libexec/git-core/git-credential-libsecret
